/********** Template CSS **********/
:root {
    --primary: #00ff85;
    --secondary: #06c481;
    --light: #F7FAFF;
    --dark: #1D1D27;
}
@font-face {
    font-family: "Arabic-Font";
    src: url(../fonts/Almarai-Bold.ttf);
  }
  
  @font-face {
    font-family: "Arabic-Second-Font";
    src: url(../fonts/Almarai-Regular.ttf);
  }

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: var(--primary);
    color: #fff;
}
.head-text{
    color: var(--secondary);
}

/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
    font-family: "Arabic-Font";
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
    font-family: "Arabic-Font";
}

p,
a {
  font-family: "Arabic-Second-Font";
}
a{
    text-decoration: none !important;
}
/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
    font-family: "Arabic-Font";
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff !important;
    font-weight: 600;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}
.navbar-light .sticky-logo{
    display: none;
}
.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}
.sticky-top.navbar-light .navbar-brand img.logo {
    display: none;
}
.sticky-top.navbar-light .navbar-brand img.sticky-logo{
    display: block;
}
.search-btn{
    color: var(--light);
}
.sticky-top.navbar-light .search-btn{
    color: var(--secondary);
}
.lang-btn{
    background: #fff;
    padding: 7px 9px 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: var(--secondary);
    font-weight: 600;
}
[dir=ltr] .lang-btn{
  margin-left: 20px;
}
.sticky-top .lang-btn {
    background: var(--secondary);
    color: #fff;
    padding: 9px 9px 7px;
    border: var(--secondary);
}
.sticky-top.navbar-light .navbar-nav .nav-link.active,
.sticky-top.navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary) !important;
}
@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link.active {
        color: var(--secondary) !important;
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-dot.png),
        url(../img/bg-dot.png),
        url(../img/bg-round.png),
        url(../img/bg-tree.png),
        url(../img/bg-bottom-hero.png);
    background-position:
        10px 10px,
        bottom 190px right 10px,
        left 55% top -1px,
        left 45% bottom -1px,
        center bottom -1px;
    background-repeat: no-repeat;
    background-color: var(--secondary);
}
.hero-image{
  margin-top: -50px;
}
.paragraph{
    font-family: "Arabic-Second-Font";
    line-height: 1.9;
    font-size: 18px;
}

/*** Section Title ***/
.section-title.text-center::before {
    margin-right: -25px;
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    right: 50%;
    background: var(--dark);
}

.section-title.text-center::after {
    margin-right: 25px;
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    right: 50%;
    background: var(--dark);
}
.testimonial .section-title.text-center::after,
.testimonial .section-title.text-center::before{
    background: var(--light);
}
/* .section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: -18px;
    background: rgb(6 196 129 / 51%);
}

.section-title h6::after {
    top: 5px;
    left: -22px;
} */
/* about home */
.home-about h2{
    font-size: 33px;
    line-height: 1.7;
}
.home-about h6{
    font-size: 15px;
} 
 .What-more-boxarea {
    position: relative;
    transition: all 0.4s ease-in-out;
    margin-bottom: 30px;
    margin-top: 70px;
  }
  
  .What-more-boxarea .dots-line {
    position: absolute;
    top: 50px;
    right: 65%;
    left: auto;
    width: 100%;
    z-index: 1;
  }
  
 .What-more-boxarea .what-icon {
    height: 90px;
    width: 90px;
    display: inline-block;
    line-height: 90px;
    -webkit-background-image: linear-gradient(290deg, #10ff8d 0%, #06c481 99%);
    background-image: linear-gradient(290deg, #10ff8d 0%, #06c481 99%);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 37%;
    z-index: 3;
  }

 .What-more-boxarea h3 {
    background: #fff;
    color: #0b1b23;
    width: 32px;
    height: 32px;
    line-height: 32px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    position: absolute;
    top: 93px;
    right: 46%;
    z-index: 5;
  }
  
  .What-more-boxarea .what-more-content {
    background: #ffffff;
    text-align: center;
    padding: 28px 24px;
    margin-top: 60px;
    position: relative;
    transition: all 0.4s ease-in-out;
    border: 1px solid #eee;
    border-radius: 8px;
    height: 205px;
    box-shadow: 0 10px 10px #efefef;
  }
  
.What-more-boxarea .what-more-content span {
    position: absolute;
    top: -50px;
    right: 43%;
    transition: all 0.4s ease-in-out;
    width: 0px;
    height: 0px;
    border: 25px solid transparent;
    border-bottom-color: #f9f9f9;
  }
  
 .What-more-boxarea .what-more-content a {
    font-size: 24px;
    line-height: 24px;
    color: var(--secondary);
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
  }
  
.What-more-boxarea .what-more-content p {
    font-size: 15px;
    line-height: 25px;
    color: #0B1B23;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
  }


  /**** contact ****/
  .team-section .team-box .team-social::after {
    bottom: 20px;
    z-index: -1;
    content: "";
    width: 50px;
    height: 0;
    opacity: 0;
    border-radius: 35px;
    position: absolute;
    transition: 0.3s all ease-in-out;
    background-color: #783cc2;
  }
  
  .team-section .team-box .share-btn {
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 100px;
    transition: 0.3s all ease-in-out;
    background: #523cc2;
    float: left;
    text-align: center;
    display: block;
    position: relative;
    z-index: 5;
  }
  
  .team-section .team-box .share-btn i {
    color: #fff;
    font-size: 18px;
  }
  
  .team-section .team-box:hover ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
    top: -33px;
  }
  
  /* ---------------------------------- Contact -us ========================================== */
  /* ---------------------------------- Contact -us ========================================== */
  .contact-section {
    padding: 100px 0;
    overflow: hidden;
  }
  
  .map-sec {
    position: relative;
    height: 600px;
    border-radius: 10px;
    overflow: hidden
  }
  
  .map-sec .map {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%
  }
  
  .map-sec .map iframe {
    height: 100%;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .map-sec {
      height: 400px
    }
  }
  
  .map-contact {
    max-width: 590px;
    padding: 60px;
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
    z-index: 3
  }
  
  .border-title {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
    margin-top:0.48em;
    font-weight: 600
  }
  
  .border-title:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 80px;
    background-color: var(--theme-color)
  }
  
  .contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 340px;
    gap: 25px;
    margin-bottom: 40px
  }
  
  .contact-info:last-of-type {
    margin-bottom: 0
  }
  
  .contact-info_icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    background-color: rgba(13, 94, 244, 0.07);
    text-align: center;
    color: var(--theme-color);
    border-radius: 5px;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out
  }
  
  .contact-info_title {
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: -0.2em
  }
  
  .contact-info p,
  .contact-info a,
  .contact-info span {
    margin-bottom: -0.5em
  }
  
  .contact-info_text {
    margin-bottom: -0.45em;
    line-height: 1.5;
    display: block;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  
  .contact-info_text a {
    color: var(--title-color)
  }
  
  .contact-info_text a:hover {
    color: var(--theme-color)
  }
  
  .contact-info:hover .contact-info_icon {
    background-color: var(--theme-color);
    color: var(--white-color)
  }
  
  @media (max-width: 767px) {
    .map-contact {
      padding: 40px 40px
    }
  
    .contact-info {
      margin-bottom: 30px
    }
  
    .contact-info:last-of-type {
      margin-bottom: 0
    }
  }
  
  @media (max-width: 575px) {
    .map-contact {
      padding: 40px 20px
    }
  }
  
  @media (max-width: 375px) {
    .contact-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      gap: 20px
    }
  
    .contact-info .media-body {
      width: 100%
    }
  }
  
  .contact-form-wrap {
    background-color: #06c4811f;
    padding: 60px;
    border-radius: 10px;
    background-position: right center;
    margin-right: 50px;
    margin-bottom: 60px;
    position: relative;
    z-index: 999999;
  }
  
  @media (max-width: 1199px) {
    .contact-form-wrap {
      margin: 0;
      margin-top: 40px
    }
  }
  
  @media (max-width: 767px) {
    .contact-form-wrap {
      padding: 40px 30px;
      background-position: left center
    }
  }
  
  .contact-form-wrap p {
    margin-bottom: 20px;
  }
  
  .contact-feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    border-radius: 10px;
    border: 1px solid #ECF1F9;
    background: var(--white-color);
    box-shadow: 0px 9px 14px 0px #FBFBFB;
    padding: 30px
  }
  
  .contact-feature:not(:last-child) {
    margin-bottom: 24px
  }
  
  .contact-feature .contact-feature-icon {
    height: 70px;
    width: 70px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border-radius: 10px;
    line-height: 70px;
    background: #d2ffea;
    font-size: 30px;
    text-align: center;
    color: var(--secondary);
    -webkit-transition: 0.4s;
    transition: 0.4s
  }
  
  .contact-form-wrap .form-group {
    margin-bottom: 25px;
  }
  
  .contact-feature .media-body {
    margin-bottom: -0.4em
  }
  
  .contact-feature .contact-feature_label {
    font-size: 20px;
    color: var(--title-color);
    font-weight: 600;
    margin-top: -0.4em;
    margin-bottom: 5px
  }
  
  .contact-feature .contact-feature_link {
    color: #4D5765;
    line-height: 25px;
    display: block
  }
  
  .contact-feature .contact-feature_link span {
    color: var(--title-color)
  }
  
  .contact-feature:hover .contact-feature-icon {
    background: var(--secondary);
    color: #fff
  }
  
  @media (max-width: 375px) {
    .contact-feature .contact-feature-icon {
      margin-bottom: 20px
    }
  }
  
  .contact-form-wrap button i {
    margin-right: 12px;
  }
  
  .contact-form-wrap .Meta-btn {
    width: 100%;
    background: #fff;
  }
/*** Service ***/
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--secondary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--secondary);
    background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--secondary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--secondary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Testimonial ***/
.newsletter,
.testimonial {
    background:
        url(../img/bg-top.png),
        url(../img/bg-bottom.png);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
    background-color: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}


/*** Team ***/
.team-item {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.team-item::after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 3rem;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    background: var(--primary);
}

.team-item h5,
.team-item small {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover small {
    color: var(--light);
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--secondary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    right: 0;
    background: #606060b8;
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}
.portfolio-item img{
  height: auto;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
    background-color: var(--secondary);
}
.footer img{
    width: 170px;
    margin-bottom: 25px;
    margin-top: -10px;
}

.footer .btn.btn-social {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: right;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
    text-decoration: none;
}

.footer .footer-menu a {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}
/* =================== floatBtns ============*/
.floatBtns {
  position: fixed;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  padding: 80px 0;
}
.floatBtns a {
  cursor: pointer;
  background-color: #fff;
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 16px;
}
.floatBtns .main {
  position: relative;
  z-index: 2;
  width: 44px;
  height: 44px;
  background-color: #fff;
  box-shadow: 0px 2px 4px #000;
  color: var(--darkColor);
  border-radius: 0 100% 100% 0;
}
.floatBtns .subs a {
  box-shadow: none;
  position: absolute;
  left: 10px;
  top: 100px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(0px) translateY(0px);
  border: 1px solid var(--mainColor);
}
.floatBtns .subs a:nth-child(1) {
  transition-delay: 0.2s, 0s, 0.2s;
}
.floatBtns .subs a:nth-child(2) {
  transition-delay: 0.3s, 0s, 0.3s;
}
.floatBtns .subs a:nth-child(3) {
  transition-delay: 0.4s, 0s, 0.4s;
}
.floatBtns .subs a:nth-child(4) {
  transition-delay: 0.5s, 0s, 0.5s;
}
.floatBtns .subs a:nth-child(5) {
  transition-delay: 0.6s, 0s, 0.6s;
}
.floatBtns .subs a:nth-child(6) {
  transition-delay: 0.7s, 0s, 0.7s;
}
.floatBtns .subs a:nth-child(7) {
  transition-delay: 0.8s, 0s, 0.8s;
}
.floatBtns:hover .subs a {
  box-shadow: 0px 2px 4px #000;
  opacity: 1;
  visibility: visible;
}
.floatBtns:hover .subs a:nth-child(1) {
  transform: translateX(0px) translateY(-100px);
}
.floatBtns:hover .subs a:nth-child(2) {
  transform: translateX(50px) translateY(-86.6px);
}
.floatBtns:hover .subs a:nth-child(3) {
  transform: translateX(86.6px) translateY(-50px);
}
.floatBtns:hover .subs a:nth-child(4) {
  transform: translateX(100px) translateY(0px);
}
.floatBtns:hover .subs a:nth-child(5) {
  transform: translateX(86.6px) translateY(50px);
}
.floatBtns:hover .subs a:nth-child(6) {
  transform: translateX(50px) translateY(86.6px);
}
.floatBtns:hover .subs a:nth-child(7) {
  transform: translateX(0px) translateY(100px);
}
/* Base */
.btn-floating:hover img {
  margin-bottom: -3px
}

.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
}

/* Phone */
.btn-floating.phone {
    bottom: 85px;
    background-color: #341aa7;
}

.btn-floating.phone:hover {
    background-color: #341aa7;
}

/* WhatsApp */
.btn-floating.whatsapp {
    background-color: #34af23;
    bottom: 25px;
}

.btn-floating.whatsapp:hover {
    background-color: #1f7a12
}




/* ltr-direction */
[dir=ltr] .footer .btn.btn-link{
  text-align: left;
}
[dir=ltr] .footer .btn.btn-link::before{
  margin-right: 10px;
}
[dir=ltr] .footer .btn.btn-social{
  margin-left:0;
  margin-right: 10px;
}
[dir=ltr] .What-more-boxarea .dots-line{
  right: -55%;
}